/* header designs are here 
 */


 /* google fonts link here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');


/* hover effets and other effets */

.top-design:hover{
       background-color: blueviolet;
       
}
.top-link:hover{
      color: rgb(2, 38, 59);
      font-weight: 700;
      
       
}
.top-heading:hover{
       
       transform: rotate(360deg);
       color: cyan;
}
button:hover{
      transform:scale(1.5,1.5);
      color: rgb(13, 116, 0);
      background-color: rgb(255, 240, 240);
}
button{
       transition: .5s ease-in .2s;
}
.top-image:hover{
      transform: scale(1.2,1.1);
      
}

.top-image{
       transition-delay: .1s;
       transition:1s;
}












body{
    font-family: 'Poppins', sans-serif;
    
}

/* first section here and its design  */
.top-design{
     display: flex;
     flex-direction: column;
    
     align-items: center;
     
     transition: 1s linear .1s;
}

 .top-design{
      background-color: #2D25A0;
      height: 677px;
/* width: 1440px; */
width: 100%;
}


.login{
    height: 44px;
width: 1160px;

left: 156px;
top: 42px;
border-radius: 0px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 156px;
margin-right: 124px;
margin-top: 56px;


    
}

 
 .top-link{ 
      text-decoration: none;
      color:white;
      
  }
 
 .nav{
      display: flex;
      justify-content: space-evenly;
      
      height: 24px;
      width: 587px;
      left: 0px;
      top: 10px;
      border-radius: 0px;
      
 }


 .button{
    height: 44px;
    width: 123px;
    background: #00ff0d;
    text-align: centers;

    border-radius: 0px;
    /* padding: 10px, 24px, 10px, 24px; */
    display: flex;align-items: center;
    /* justify-content: center; */
    font-weight: 500;
    flex-grow: 1;
    
 }
 /* .top-down{
 display: flex;
 justify-content: space-evenly;
    
 } */
 /* .button-live{
    height: 44px;
    width: 168px;
    left: 156px;
    top: 464px;
    border-radius: 0px;
    padding: 10px, 24px, 10px, 24px;
    background: #E02C6D;
    
    s
 } */
 .top-down{
       display: grid;
       grid-template-columns: repeat(2,1fr);
 }
 .top-heading{
      /* line-height: 0; */
      display: flex;
      flex-direction: column;
      line-height: 80px;
      margin-left: 95px;
      transition-duration: 2s;
transition-delay: .3s;

 }
 .heading{
      font-size: 64px;
      height: 230px;
width: 485px;
font-weight: 700;
/* transition-duration: 2s;
transition-delay: .3s; */

color: white;
/* left: 156px; */
/* top: 207px; */
/* border-radius: nullpx; */

 }
 .buttondiv{
       margin-top: -60px;
 }
 .button-live{
    height: 44px;
    width: 168px;
    left: 156px;
    top: 464px;
    border-radius: 0px;
    padding: 10px, 24px, 10px, 24px;
    background-color: rgb(255, 51, 0);
    
    
    
    
    
 }


.banner{
    height: 438px;
    width: 556px;
    margin-top: 40px;
    margin-left: 60px;
}
   
/*------------ main section and its styles will be ----------------\



\-----------here and check here for changes-------------  */
    
main{
     width:inherit;
      height: auto;
      background-color: whitesmoke;
}

.fullbody{
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      justify-content: center;
      align-items: center;
      width: 100%;
      

}
.sub-body{
     
      
      /* height: 474px; */height: auto;
width: 1050px;
/* left: 180px; */
/* top: 1248px; */
/* border-radius: 10px; */
/* box-sizing: border-box; */
/* padding: 10px; */
/* margin-left: 100px; */
margin-top: 26px;
padding-bottom: 10px
;


}
.players{
      /* display: grid;
      grid-template-columns: repeat(3, 1fr); */
      display: flex;

      justify-content: space-between;
      align-items: center;
      grid-gap: 20px;
      /* background-color: greenyellow; */
      
      /* box-shadow: 10px 10px 10px rgb(124, 124, 124); */
      /* padding-bottom: 10px; */
     }
.player{
     height: 474px;
width: 330px;
/* border: 1px solid black; */
border-radius: 0px;
/* padding: 15px; */
padding: 10px;


}
 .football-player{
       height: 256px;
       width: 300px;
       
       border-radius: 0px;
       padding: 15px;
       padding-bottom: 1px;
 }
 .player-identity{
     height: 154px;
     width: 300px;
     padding-left: 15px;
     border-radius: 0px;
     padding-bottom: 20px;
     
 }
 article{
       /* border: 1px solid springgreen; */
       
       background-color: rgb(255, 254, 253);
       /* box-sizing: border-box; */
       /* padding: 15px; */
       /* padding-bottom: 33px; */
       box-shadow: 10px 10px 10px gray;
       margin: 0px;
        /* border: 2px solid rebeccapurple; */
 }
 h3{
       font-size: 28px;
       font-weight: 700;
       line-height: 10px;

 }
 .player-identity>p{
       font-weight: 400;
       font-size: 16px;
 }
/*\\\\\\\\\\\\\\\
 extra css and 
 its css styles
 \\\\\\\\\\\\\\
 */
 .highlights{
        margin-top: 100px;
        margin-bottom: 100px;
 }
 .highlight{
        text-align: center;
        font-size: 50px;
        font-weight: 700;
        color: rgb(93, 97, 89);
 }
 .winner1{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:10px
        ;

 }
 .trophy{
        color: black;
 }
.winteam{
      width: 370px;
      height: 480px;
      padding: 5px;
      text-align:center;
      word-wrap: break-word;
      /* background-color: chartreuse; */
      border: 1px solid rgb(220, 224, 226);
      margin: 15px;
      border-radius: 5px;
       
}
.winner {
       width: 350px;
       height: 300px;
       margin-left: 5px;
       border-radius: 10px;
       
}
h6{
       font-size: 20px;
       font-weight: 600;
       margin-top: -5px;
       color: crimson;
       font-weight: 600;
}

/* this is gallery side  */  
.stories{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      width: 100%;
       
}



.goal{
       width: 97%;
       height: 350px;
}




 /* 
 =-=--=--=-=-=-=-0=-
 FROM HERE I WILL WRITE THE BOTTOM SECTION CODE HERE NOTE IT DOWN
 -=-=-=-=-=-=-=-=-=-=-=-=-=-  */
 .bottom-messi{
       display:flex;
       align-items: center;
       justify-content: space-evenly;
       margin-top: 100px;
       margin-left: 80px;
       
       
       
 }
/* .description{
     height: 309px;
     width: 469px;
     left: 182px;
     top: 2948px;
     border-radius: 0px;
     
} */

.description{
      height: 309px;
      width: 469px;
     display: flex;
     flex-direction: column;
     text-align: left;
      
}
h2{
     /* /* font-family: Poppins; */
     font-size: 48px;
     font-style: normal;
     font-weight: 700;
     line-height: 50px;
     letter-spacing: 0px;
     text-align: left; 
     
}


 .messi{
     height: 427px;
     width: 567px;
/* margin-left: 200px;} */
 }
 .two{
        height: 40px;
        width: 160px;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
 }
 a{
        text-decoration: none;
 }
 /* .footimage{
      height: 110px;
width: 283.87103271484375px;


 } */
 #image{
      height: 110px;
      width: 383.87103271484375px;
      
      border-radius: 0px;
      
 }
 .icon{
        text-align: center;
        padding: 5px;
        padding-top: 10px;
        line-height: 10px;
 }

     i{ 
           width: 32px;
           height: 32px;
           font-size: 30px;
           /* padding-left: 40px; */
           padding-left: 10px;
           
     }
     #copyright{
            font-weight: 400;
            margin-top: 15px;
     }
 footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
 }